/*
  SIMPLE GRID SYSTEM based on 12 columns
  USAGE:
  - Row items must = 12
  - Row items html tags must touch - (no spaces or line breaks)
  - Row items no padding or margins
  Span4 Span6 will swith to 100% width for mobile
*/

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  position: relative;
  display: inline-block;
  vertical-align: top;

  .pad-right {
    padding-right: 12px;
  }

  .pad-left {
    padding-left: 12px;
  }

  .pad-left-right {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.span1 { width: 8.333%; }
.span2 { width: 12.666%; }
.span3 { width: 25%; }
.span4 { width: 33.333%; }
.span5 { width: 41.666%; }
.span6 { width: 50%; }
.span7 { width: 58.333%; }
.span8 { width: 66.666%; }
.span9 { width: 75%; }
.span10 { width: 83.333%; }
.span11 { width: 91.666%; }
.span12 { width: 100%; }

@include bp-small {
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    display: block;
    width: auto;
    margin: 0 auto;

    .pad-right {
      padding: 0;
    }

    .pad-left {
      padding: 0;
    }

    .pad-left-right {
      padding: 0;
    }

  }
}



