@import "helpers";
@import "grid";
@import "typography";
@import "nav";


/* Framework */
html, body { margin: 0; padding: 0; }
body {
  padding-top: 60px;
  color: #555;
  margin: 0;
}



body.home {
  background-image: url('/images/bonsai-story-bg.jpg');
  background-size: cover;
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  .main {
    margin-top: 65vh;
  }
}


@media (max-width: 700px) {
  body.home {
    background-image: url('/images/bonsai-story-bg-small.jpg');
    background-size: 100%;
    .main {
      margin-top: 52vh;
    }
  }

}














/* MAIN CONTENT */
.main {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 5%;
}


section {
  margin-bottom: 40px;
}


footer {
  border-top: 1px solid #f1f1f1;
  text-align: center;
  padding: 40px 0;
}










/* BONSAI CATEGORIES */
.bonsai-categories {
  margin: 0 -2%;
  a {
    display: block;
  }
  p {
    margin: 0;
  }
}

.home-category {
  margin: 5%;
}

.cell {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 8px;
}
.bonsai-category-1 {
  background-image: url('/images/bonsai-category-1.jpg');
}
.bonsai-category-2 {
  background-image: url('/images/bonsai-category-2.jpg');
}
.bonsai-category-3 {
  background-image: url('/images/bonsai-category-3.jpg');
}


@media all and (max-width:700px){
  .bonsai-categories {
    margin: 0;
  }
  .home-category {
    margin: 0;
  }

}


/* IMAGE GALLERY */
.gallery {
  img {
    display: inline-block;
    width: 20%;
    max-width: 300px;
  }
}
@media all and (max-width:700px){
  .gallery {
    text-align: center;
    img {
      width: 100%;
    }
  }
}





#contact-iframe {
  display:block;
  width:100%;
  height:100%;
  min-height: 1000px;
  margin: 0 -4%;
}

